[build]
  command = "npm run build"
  publish = ".next"

[functions]
  node_bundler = "esbuild"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[headers]]
  for = "/*"
  [headers.values]
    Content-Security-Policy = """
      default-src 'self';
      img-src 'self' data:;
      script-src 'self' 'unsafe-inline';
      style-src 'self' 'unsafe-inline';
      connect-src *;
      frame-src *;
      object-src 'none';
    """
