@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
  --pi-blue-dark: #0a2a43;
  --pi-blue: #0f69ff;
  --pi-blue-light: #d7e7ff;
  --pi-gray: #f6f7f9;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.01em;
  font-size: 14px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  color: #0f172a;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: -0.015em;
  color: #0f172a;
}

h3 {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -0.01em;
  color: #0f172a;
}

p {
  color: #334155;
  font-size: 0.95rem;
}
